*, *::before, *::after{
  margin: 0;
}

:root{
  --color-snapchat-yellow: #fefc01;
  --color-blue: #059ee0;
}

.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-snapchat-yellow);
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app__logo{
  object-fit: contain;
  height: 100px;
}

.app__body{
  background: url("https://www.pngkey.com/png/full/859-8598072_picture-freeuse-library-silhouetter-mobile-at-getdrawings-cell.png") no-repeat center;
  background-size: contain;
  height: 402px;
  width: 248px;
  padding: 74px;
}

.app__body-background{
  background-color: black;
  width: 252px;
  height: 400px;
  transform: translateX(-1.5px);
}

@media screen and (max-width: 425px) {
  .app{
    overflow: hidden;
  }

  /* .app__body{
    height: 100%;
    width: 100%;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }

  .app__body-background{
    height: 100%;
    width: 100%;
  } */

  .app__logo{
    display: none;
  }
}

.webcam-capture{
  position: relative;
}

.webcam-capture__btn{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  color: red;
}

/* @media screen and (max-width:425px) {
  .webcam-capture__btn{
    font-size: 50px !important;
  }
} */

.preview{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}

.preview img{
  align-self: center;
}

.preview__close{
  position: absolute;
  top: 0;
  margin: 5px;
  font-size: 18px;
  cursor: pointer;
  color: white;
}

.preview__toolbar-right{
  color: white;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  margin: 7px;
}

.preview__toolbar-right .MuiSvgIcon-root {
  font-size: 20px !important;
  margin-bottom: 8px;
  cursor: pointer;
}

.preview__footer{
  background-color: yellow;
  color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 30px;
  padding: 8px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: -25px;
  transform: translate(-50%, -50%);
}

.preview__footer h2{
  font-size: 9px;
  margin-right: 4px;
}

.preview__send-icon{
  font-size: 12px !important;
}

/* @media screen and (max-width:425px) {

  .preview__footer{
    padding: 10px;
  }

  .preview__toolbar-right .MuiSvgIcon-root {
    font-size: 28px !important;
  }

  .preview__send-icon{
    font-size: 15px !important;
  }

  .preview__close{
    position: absolute;
    margin: 12px;
    font-size: 28px;
  }

  .preview__footer h2{
    font-size: 10px;
    margin-right: 4px;
  }
} */

/* Chats */

.chats{
  position: relative;
  height: 400px;
  width: 250px;
}


.chats__take-pic-icon{
  position: absolute;
  background-color: white;
  border-radius: 200px;
  color: grey;
  font-size: 40px !important;
  cursor: pointer;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,-50%);
}

.chats__take-pic-icon:hover{
  opacity: 0.8;
}

.chats__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: var(--color-blue);
  height: 50px;
}

.chats__search{
  display: flex;
  align-items: center;
  flex: 1;
  padding-left: 8px;
}

/* @media screen and (max-width: 425px) {
  .chats{
    height: 100%;
    width: 100%;
  }
  .chats__header{
    height: 65px;
    padding: 0 14px;
  }

  .chats__search{
    padding-left: 12px;
  }

  .chats__take-pic-icon{
    font-size: 50px !important;
  }
} */

.chats__search-icon{
  color: white;
  font-size: 13px !important;
}

.chats__chat-icon{
  color: white;
  font-size: 18px !important;
}

.chats__search input{
  outline: none;
  background-color: transparent;
  border: none;
  font-size: 12px;
  flex: 1;
  color: white;
}

.chats__search input::placeholder{
  color: white;
  opacity: 1;
}

.chats__avatar{
  height: 25px !important;
  width: 25px !important;
}


.chats__posts{
  box-shadow: 1px -7px 7px -6px rgba(0,0,0,0.44);
  height: 359px;
  margin-top: -9px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  overflow: scroll;
}

/* @media screen and (max-width: 425px) {
  .chats__posts{
    height: 100%;
  }

  .chats__search input{
    font-size: 15px;
  }

  .chats__chat-icon{
    font-size: 25px !important;
  }

  .chats__search-icon{
    font-size: 21px !important;
  }

  .chats__avatar{
    height: 35px !important;
    width: 35px !important;
  }

} */

/* To hide scroll bars */

.chats__posts::-webkit-scrollbar{
  display: none;
}
  /* To hide on IE, edge, Firefox */
.chats__posts{
  -ms-overflow-style: none;
  scrollbar-width: none; 
}


/* Chat */

.chat{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid whitesmoke;
  cursor: pointer;
}

.chat:hover{
  opacity: 0.8;
}

.chat__avatar{
  height: 35px !important;
  width: 35px !important;
}

.chat__read-icon{
  color: #ed3b55;
}

.chat__info{
  padding-left: 10px;
  flex: 1;
}

.chat__info > h4{
  font-size: 11px;
  font-weight: 600;
}

.chat__info > p{
  font-size: 9px;
}

/* @media screen and (max-width:425px) {
  .chat{
    padding: 12px;
  }

  .chat__avatar{
    height: 45px !important;
    width: 45px !important;
  }

  .chat__info{
    padding-left: 12px;
  }
  .chat__info > h4{
    font-size: 13px;
    font-weight: 600;
  }
  
  .chat__info > p{
    font-size: 11px;
  }
} */

/* Chat view */

.chat-view{
  position: relative;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.chat-view img{
  cursor: pointer;
}

.chat-view__timer{
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.chat-view__timer div div{
  color: var(--color-snapchat-yellow);
}


/* Login */

.login{
  background-color: var(--color-snapchat-yellow);
  display: grid;
  place-items: center;
  height: 100vh;
}

.login__container{
  display: flex;
  flex-direction: column;
}

.login__container img{
  height: 300px;
  object-fit: contain;
}

@media screen and (max-width:425px) {
  .login__container img{
    height: 200px;
  }
}





